{% extends 'base.html' %}
    {% block content %}
 <title>{{title}}</title>
    {% endblock %}
{% block content2 %}
<h2>Регистрация</h2>
    {% endblock %}
{% block content1 %}
<form action="{% url 'register' %}" method="post">
    {% csrf_token %}
    {% for f in form %}
    <div style=" padding: 3px"> <label > {{f.label}}: </label>
        {{ f }}
    </div>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit">Регистрация</button>
</form>


{% endblock %}